.module-body {
    padding: 0;
}

#modeller {
    height: 100%;
    width: 100%;

    &-left {
        text-align: left;
        background-color: #f1f1f1;
    }

    &-main {
        // background-color: lightcoral;
    }

    &-right {
        text-align: left;
        // background-color: lightgray;
    }
}
