<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container-fluid  pt-4 pb-4">
	<div class="row text-start">
		<div class="col-3">
			<div class="panel-group" id="accordionExampleSimple">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" id="authorsPanelHeading">
							<a href="#" class="collapsed" data-bs-toggle="collapse" data-bs-target="#authorsPanel" aria-expanded="false" aria-controls="authorsPanel">
								<span class="caret"></span>
								<strong>Authors</strong>
							</a>
						</h3>
					</div>
					<div id="authorsPanel" class="collapse" aria-labelledby="authorsPanelHeading">
						<div class="panel-body">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newExtensionAuthor">
								<core:icon identifier="actions-add" />Add new Author
							</button>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" id="pluginsPanelHeading">
							<a href="#" class="collapsed" data-bs-toggle="collapse" data-bs-target="#pluginsPanel" aria-expanded="false" aria-controls="pluginsPanel">
								<span class="caret"></span>
								<strong>Plugins</strong>
							</a>
						</h3>
					</div>
					<div id="pluginsPanel" class="collapse" aria-labelledby="pluginsPanelHeading">
						<div class="panel-body">
							<button class="btn btn-primary" @click="consoleTest()">Testconsole</button>
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newExtensionPlugin">
								<core:icon identifier="actions-add" />Add new plugin
							</button>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" id="modulesPanelHeading">
							<a href="#" class="collapsed" data-bs-toggle="collapse" data-bs-target="#modulesPanel" aria-expanded="false" aria-controls="modulesPanel">
								<span class="caret"></span>
								<strong>Modules</strong>
							</a>
						</h3>
					</div>
					<div id="modulesPanel" class="collapse" aria-labelledby="modulesPanelHeading">
						<div class="panel-body">
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newExtensionModule">
								<core:icon identifier="actions-add" />Add new module
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-7 bg-danger vh-80">
			<p>Here comes the sun, doo-doo-doo-doo</p>
		</div>
		<div class="col-2">
			<h2 class="mt-0 pt-0">Domain object settings</h2>
			<div class="domainObjectSettings">
				<div class="form-group">
					<label for="objectType" class="form-label">Object type</label>
					<select class="form-select" id="objectType" aria-label="Default select example">
						<option value="Entity">Entity</option>
						<option value="ValueObject">Value object</option>
					</select>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="isAggregateRoot">
					<label class="form-check-label" for="isAggregateRoot">
						Is aggregate root?
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="enableSorting">
					<label class="form-check-label" for="enableSorting">
						Enable sorting?
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="addDeletedField">
					<label class="form-check-label" for="addDeletedField">
						Add deleted field
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="addHiddenField">
					<label class="form-check-label" for="addHiddenField">
						Add hidden field
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="addStarttimeEndtimeFields">
					<label class="form-check-label" for="addStarttimeEndtimeFields">
						Add starttime/endtime fields
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="enableCategorization">
					<label class="form-check-label" for="enableCategorization">
						Enable categorization
					</label>
				</div>
				<div class="form-group">
					<label for="modelDescription" class="form-label">Description</label>
					<textarea class="form-control" id="modelDescription" aria-describedby="modelDescription" ></textarea>
				</div>
				<div class="form-group">
					<label for="mapToExistingTable" class="form-label">Map to existing table</label>
					<input type="text" class="form-control" id="mapToExistingTable" aria-describedby="mapToExistingTable" placeholder="tt_content">
				</div>
				<div class="form-group">
					<label for="extendExistingModelClass" class="form-label">Extend existing model class</label>
					<input type="text" class="form-control" id="extendExistingModelClass" aria-describedby="extensionKey" placeholder="\Fully\Qualified\Classname">
				</div>
			</div>
			<h2>Default actions</h2>
			<div class="defaultActions">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="actionIndex">
					<label class="form-check-label" for="actionIndex">
						index
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="actionList">
					<label class="form-check-label" for="actionList">
						list
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="actionShow">
					<label class="form-check-label" for="actionShow">
						show
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="actionNewCreate">
					<label class="form-check-label" for="actionNewCreate">
						new/create
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="actionEditUpdate">
					<label class="form-check-label" for="actionEditUpdate">
						edit/update
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="actionDelete">
					<label class="form-check-label" for="actionDelete">
						delete
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="actionIndex">
					<label class="form-check-label" for="actionIndex">
						index
					</label>
				</div>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCustomAction">
					<core:icon identifier="actions-add" />Add custom Action
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Extension Settings -->
<div class="modal fade" id="extensionSettingsModal" tabindex="-1" aria-labelledby="extensionSettingsLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="extensionSettingsLabel">Extension settings</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<f:render partial="Components/SettingsForm" arguments="{_all}" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal Extension Settings -->

<!-- Modal Extension Author-->
<div class="modal fade" id="newExtensionAuthor" tabindex="-1" aria-labelledby="newExtensionAuthorLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="newExtensionAuthorLabel">Add new author</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<f:render partial="Components/AuthorsForm" arguments="{_all}" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-bs-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal Extension Author-->

<!-- Modal Extension Plugins-->
<div class="modal fade" id="newExtensionPlugin" tabindex="-1" aria-labelledby="newExtensionPluginLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="newExtensionPluginLabel">Add new plugin</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<f:render partial="Components/PluginsForm" arguments="{_all}" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-bs-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal Extension Plugins-->

<!-- Modal Extension Modules-->
<div class="modal fade" id="newExtensionModule" tabindex="-1" aria-labelledby="newExtensionModuleLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="newExtensionModuleLabel">Add new module</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<f:render partial="Components/ModulesForm" arguments="{_all}" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-bs-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal Extension Modules-->

<!-- Modal Add custom Action -->
<div class="modal fade" id="addCustomAction" tabindex="-1" aria-labelledby="addCustomActionLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="addCustomActionLabel">Add custom Action</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<f:render partial="Components/CustomActionForm" arguments="{_all}" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-bs-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>
<!-- END Modal Add custom Action -->

</html>
