<div class="container background-primary pt-4 pb-4">
	<div class="row">
		<div class="col-12">
			<h1>Extension Builder</h1>
		</div>
	</div>

	<div class="row row-cols-1 row-cols-md-3 g-4">
		<div class="col" v-for="item in extension" :key="item">
			<div class="card h-100">
				<div class="card-body">
					<h5 class="card-title">
						<core:icon identifier="content-extension" />
						{{ item.title }}
					</h5>
					<p class="card-text">{{ item.bodytext }}</p>
					<button
						type="button"
						class="mt-3"
						:class="item.buttonstyle"
						disabled
						v-if="!item.linkenabled"
					>{{ item.linktext }}
					</button>
					<a
						class="mt-3"
						:class="item.buttonstyle"
						v-if="item.linkenabled"
						@click="changeActiveView(item.linkhref)"
					>{{ item.linktext }}
					</a>
				</div>
				<div class="card-footer text-muted text-center" v-if="item.footertext">
					{{ item.footertext }}
				</div>
			</div>
		</div>
	</div>
</div>
