<!-- Extension authors -->
<div class="extensionAuthors">
	<div class="form-group">
		<label for="authorName" class="form-label">Author name</label>
		<input type="text" class="form-control" id="authorName" aria-describedby="authorName">
	</div>
	<div class="form-group">
		<label for="authorRole" class="form-label">Role</label>
		<select class="form-select" id="authorRole" aria-label="Default select example">
			<option selected>Please choose ...</option>
			<option value="developer">Developer</option>
			<option value="productmanager">Product manager</option>
			<option value="translator">Translator</option>
			<option value="engineer">Engineer</option>
		</select>
	</div>
	<div class="form-group">
		<label for="authorEMail" class="form-label">E-Mail</label>
		<input type="email" class="form-control" id="authorEMail" aria-describedby="authorEMail">
	</div>
	<div class="form-group">
		<label for="authorCompany" class="form-label">Company</label>
		<input type="text" class="form-control" id="authorCompany" aria-describedby="authorCompany">
	</div>
</div>
<!-- END Extension authors -->

