<!-- Backend modules -->
<div class="backendModules">
	<div class="form-group">
		<label for="moduleName" class="form-label">Name</label>
		<input type="text" class="form-control" id="moduleName" aria-describedby="moduleName">
	</div>
	<div class="form-group">
		<label for="moduleKey" class="form-label">Key</label>
		<input type="text" class="form-control" id="moduleKey" aria-describedby="moduleKey">
	</div>
	<div class="form-group">
		<label for="moduleDescription" class="form-label">Description</label>
		<textarea class="form-control" rows="6" id="moduleDescription" aria-describedby="moduleDescription"></textarea>
	</div>
	<div class="form-group">
		<label for="moduleTabLabel" class="form-label">Tab label</label>
		<input type="text" class="form-control" id="moduleTabLabel" aria-describedby="moduleTabLabel">
	</div>
	<div class="form-group">
		<label for="moduleMainModule" class="form-label">Main module</label>
		<select class="form-select" id="moduleMainModule" aria-label="Default select example">
			<option value="web">Web</option>
			<option value="site">Site</option>
			<option value="file">File</option>
			<option value="user">User</option>
			<option value="tools">Tools</option>
			<option value="system">System</option>
			<option value="help">Help</option>
		</select>
	</div>
	<div class="form-group">
		<label for="pluginControllerActionsCachable" class="form-label">Cachable controller actions</label>
		<textarea class="form-control" rows="6" id="pluginControllerActionsCachable" aria-describedby="pluginControllerActionsCachable" placeholder="PluginName => list,show"></textarea>
	</div>
</div>
<!-- END Backend modules -->
