<!-- Frontend plugins -->
<div class="frontendPlugins">
	<div class="form-group">
		<label for="pluginName" class="form-label">Name</label>
		<input type="text" class="form-control" id="pluginName" aria-describedby="pluginName">
	</div>
	<div class="form-group">
		<label for="pluginKey" class="form-label">Key</label>
		<input type="text" class="form-control" id="pluginKey" aria-describedby="pluginKey">
	</div>
	<div class="form-group">
		<label for="pluginDescription" class="form-label">Description</label>
		<textarea class="form-control" rows="6" id="pluginDescription" aria-describedby="pluginDescription"></textarea>
	</div>
	<div class="form-group">
		<label for="pluginControllerActionsCachable" class="form-label">Cachable controller actions</label>
		<textarea class="form-control" rows="6" id="pluginControllerActionsCachable" aria-describedby="pluginControllerActionsCachable" placeholder="PluginName => list,show"></textarea>
	</div>
	<div class="form-group">
		<label for="pluginControllerActionsNonCachable" class="form-label">Non-Cachable controller actions</label>
		<textarea class="form-control" rows="6" id="pluginControllerActionsNonCachable" aria-describedby="pluginControllerActionsNonCachable" placeholder="PluginName => edit,delete,update"></textarea>
	</div>
</div>
<!-- END Frontend plugins -->
