{namespace k=Tx_ExtbaseKickstarter_ViewHelpers}
<k:comment>
	Use the section "header" to call ViewHelpers which modify the configuration
	of the PageRenderer, f.e. to include custom CSS or JavaScript.
</k:comment>
<f:render section="header" />

<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">
					<f:render section="iconButtons" />
				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Overview" controller="KickstarterModule" action="index" />
						<f:be.menus.actionMenuItem label="Domain Modelling" controller="KickstarterModule" action="domainmodelling"/>
					</f:be.menus.actionMenu>
				</div>
				<div class="docheader-row2-right">
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:renderFlashMessages class="tx-extbase-flash-message" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
