<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">
<f:comment>
	Use the section "header" to call ViewHelpers which modify the configuration
	of the PageRenderer, f.e. to include custom CSS or JavaScript.
</f:comment>
<f:render section="header" />
<f:be.container>
	<div class="typo3-fullDoc">
		<div class="module-docheader t3js-module-docheader">
			<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
				<div class="pull-right">
					<img class="module-icon absmiddle" src="../typo3conf/ext/extension_builder/Resources/Public/Icons/Extension.svg" width="16" height="16" title="Open in new window" alt="Open in new window">
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Introduction" controller="BuilderModule" action="index" />
						<f:be.menus.actionMenuItem label="Domain Modelling" controller="BuilderModule" action="domainmodelling"/>
					</f:be.menus.actionMenu>
				</div>
			</div>
			<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">
					<div class="btn-toolbar">
						<a class="btn btn-default btn-sm" href="#" id="WiringEditor-loadButton-button" title="Open extension">
							<core:icon identifier="actions-system-list-open" size="small" />
						</a>
						<a href="#" class="btn btn-default btn-sm" title="New extension" id="WiringEditor-newButton-button">
							<core:icon identifier="actions-document-new" size="small" />
						</a>
						<a href="#" class="btn btn-default btn-sm" title="Save extension" id="WiringEditor-saveButton-button">
							<core:icon identifier="actions-document-save" size="small" />
						</a>
					</div>
				</div>
				<div class="module-docheader-bar-column-right">
					<a id="toggleAdvancedOptions" href="#" class="btn btn-default btn-sm" accesskey="a" title="Show advanced options" >
						<core:icon identifier="content-menu-pages" size="small" />
						<span class="simpleMode">Show</span><span class="advancedMode">Hide</span> <strong>a</strong>dvanced options.
					</a>
					<a class="btn btn-default btn-sm" id="opennewwindow" href="#" target="_blank" accesskey="n" title="Open in new window">
						<core:icon identifier="actions-window-open" size="small" /></a>
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div class="module-body t3js-module-body {currentAction}">
			<f:render section="content" />
		</div>
	</div>
</f:be.container>
</html>