.yui-skin-sam .yui-layout .yui-layout-hd {
	border:none;
}

.yui-layout-unit-left  {
	background-color:#EEE;
}

.yui-layout-unit-left .inputEx-ListField-childContainer div {
	border-bottom:1px solid #999;
	padding-bottom: 5px;
}

.yui-layout-unit-left .inputEx-ListField-childContainer div div{
	border-bottom:none;
	padding-bottom: 0;
}

.yui-layout-unit-left .inputEx-ListField-childContainer div.mainGroup {
	border-bottom: 2px solid #999;
}

div.WireIt-Container {
	position: absolute;
	z-index: 5;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	font-size: 8pt;
	box-shadow: 6px 6px 10px #aaa;
}

div.WireIt-Container div.body {
	border: 1px solid #ccc;
}

div.WireIt-Container-focused {
	z-index: 6;
	opacity: 1;
	filter: alpha(opacity = 100);
	box-shadow: 10px 10px 10px #aaa !important;
}

#modelingLayer {
	height: 100%;
}

#moduleBar {
	width: 160px;
	position: absolute;
	z-index: 10;
	cursor: move;
	padding: 3px;
	-moz-border-radius:0px;
	-moz-box-shadow: none;
}

#moduleBar .WiringEditor-module span {
	font-size: 13px;
	position: relative;
	top: 0px;
}

div.WireIt-Layer {
	background-image: url('background_pixel.png');
}

.WiringEditor-module {
	cursor: move;
	-moz-border-radius:0px;
	background-color:#ccc;
	font-size: 10pt;
	font-weight: bold;
	color: #333;
	height:16px;
	width:130px;
	margin:5px;
	padding:5px;
}

#toolbar {
	position: static;
}

.yui-skin-sam .yui-layout{
	background-color: #EEEEEE;
}

.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd ,
.yui-skin-sam .yui-layout .yui-layout-clip {
	background-color: transparent;
	border: none;
}

div#typo3-inner-docbody {
	height:100%;
	padding:0;
}

div#domainModelEditor {
	height:100%;
	width:100%;
}

div.WireIt-Container {
	width: 260px; /* Prevent the modules from scratching on the right */
}


div.WireIt-Container-ddhandle {
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px;
	background-color: #ccc;
	border: 1px solid #ccc;
	color:white;
	cursor:move;
	font-size:10pt;
	font-weight:bold;
	height:22px;
	line-height:150%;
	padding-top:3px;
	text-align:center;
	width: auto;
}

div.WireIt-InputExTerminal {
	float: left;
	width: 21px;
	height: 21px;
	position: relative;
}
div.WireIt-InputExTerminal div.WireIt-Terminal {
	top: -5px;
	left: -7px;
}
div.inputEx-Group div.inputEx-label {
	width:100px;
}

div.advancedSettings legend{
	position: absolute;
	margin-left: 20px;
	margin-top: -21px;
	z-index: 500;
}


div.WireIt-ImageContainer {
	width: auto;
}

.WireIt-Container .expanded {
	position: absolute;
	background-color: #fff;
	z-index: 1000;
	box-shadow: 0 4px 5px -4px #000;
	width: 252px;
	border: 1px solid #CCC;
	margin-left: -6px;
	padding-left: 6px;
	padding-bottom: 6px;
	border-top:none;
}

.WireIt-Container .advancedSettings.expanded {
	margin-left: -10px;
}

div.Bubble div.body {
	width: 70px;
	height: 45px;
	opacity: 0.9;
	cursor: move;
}

.WiringEditor-module span {
	position: relative;
	top: -3px;
}

/*********** CSS code for making the model title inplaceEdit appear as the container title ************/

div.WireIt-Container div.body {
	position: relative;
}

div.extbase-modelTitleEditor {
	position: absolute;
	top: -29px;
	left: 30px;
	color: #333;
	cursor:move;
	font-size:10pt;
	font-weight:bold;
	line-height:100%;
	text-align:center;
}

div.WireIt-Container-ddhandle span {
	display: none;
}

div.inputEx-InPlaceEdit-visu:hover {
	background-color: transparent;
}

legend.inputEx-Group-legend {
	color: #666;
	font-weight:bold;
	padding-top: 4px;
}

a.inputEx-List-link {
	color: #F1A21B;
	cursor:pointer;
	margin-left:10px;
}

div.hiddenField {
	display:none;
}

div.propertyGroup,
div.relationGroup  {
	border:1px solid #BBB;
	margin-bottom:4px;
	padding:6px;
}

div.relationGroup {
	border: none;
	padding:0px;
	width:240px;
}

div.propertyGroup {
	width: 175px;
}

.relationGroup,
.objectSettings,
.advancedSettings{
	width: 250px;
}

div.inputEx-label {
	margin-bottom: 3px;
	text-align: left;
	padding-right:17px;
	margin-right:2px;
	display:block;
}

div.relationGroup div.inputEx-label {
	text-align: right;
}

div.relationGroup div.inputEx-invalid>div.inputEx-label label {
	background-image: none;
}

div.inputEx-Group div.inputEx-label {
	width:100px;
}

.selectFieldWrapper .inputEx-label,
.textfieldWrapper .inputEx-label {
	float: none;
}

div.relationGroup .textfieldWrapper .inputEx-label {
	float: left;
}

div.relationGroup fieldset fieldset .textfieldWrapper .inputEx-label {
	float: none;
}

.inputEx-Group .checkBoxFieldWrapper div.inputEx-label {
	width: 45%;
}

div.relationGroup .advancedSettings .textfieldWrapper div.inputEx-label {
	width: 85%;
}

.textfieldWrapper div.inputEx-label,
div.relationGroup .advancedSettings div.inputEx-label {
	text-align: left;
}

div.objectSettings .inputEx-Field.inputEx-CheckBox,
div.relationGroup .advancedSettings .inputEx-Field.inputEx-CheckBox {
	float: left;
	width: 37%;
}

div.propertyGroup .inputEx-Field.inputEx-CheckBox {
	float: left;
	width: 44%;
}

div.mainGroup .inputEx-Field.inputEx-CheckBox {
	width: 20%;
}

div.mainGroup .inputEx-Field.inputEx-CheckBox input,
div.objectSettings .inputEx-Field.inputEx-CheckBox input,
div.propertyGroup .inputEx-Field.inputEx-CheckBox input,
div.relationGroup .advancedSettings .inputEx-Field.inputEx-CheckBox input{
	float: right;
}


div.relationGroup .advancedSettings .inputEx-Field {
	width:90%;
}


div.propertyGroup div.textfieldWrapper div.inputEx-Field,
div.relationGroup div.advancedSettings div.inputEx-Field {
	float: none;
}

div.propertyGroup div.inputEx-Field {
	float: none;
}

div.actionGroup .inputEx-ListField {
	width: 98%;
}

a.inputEx-List-link.deleteButton {
	position: absolute;
	right: 0;
	background-position: -162px -18px !important;
	background-image: url('/typo3/sysext/t3skin/images/sprites/t3skin.png?1378150256') !important;
	height: 16px;
	width: 16px;
	color: transparent;
}

.inputEx-StringField-wrapper input[type='text'],
.inputEx-StringField-wrapper textarea {
	font-size:9pt;
}

div.relationGroup textarea,
div.propertyGroup textarea,
div.propertyGroup input[type='text'],
div.propertyGroup select{
	width: 100%;
}

div.relationGroup input[type='text'] {
	width: 90px;
}

div.objectSettings .textfieldWrapper input[type='text'],
div.objectSettings .textfieldWrapper textarea{
	width: 90%;
}

div.objectSettings .inputEx-StringField-wrapper {
	width:260px;
}

div.relationGroup .advancedSettings input[type='text']{
	width: 100%;
}

.properties .inputEx-ListField {
	width: 245px;
}

div#wireEditorMessageBox {
	padding:0 15px 15px;
	min-width:200px;
}

div#wireEditorMessageBox .error {
	color:red;
	font-weight:bold;
}

div.WireIt-InputExTerminal {
	float: left;
	width: 21px;
	height: 21px;
	position: absolute;
	top:-20px;
}

div.terminalFieldWrap {
    display: none;
}


input[disabled] {
	display:none;
}

div.WireIt-InputExTerminal div.WireIt-Terminal {
	top: -3px;
	left: -7px;
}

div.inputEx-description {
	display:none;
	background-color: #EEEEEE;
	border: 1px solid orange;
	font-size: 9pt;
	margin-left: 10px;
	margin-top: -20px;
	min-width: 120px;
	padding: 8px;
	position: absolute;
	z-index: 100;
	box-shadow: -10px 10px 8px #999;
}

.yui-layout-unit-left .inputEx-ListField-childContainer div.inputEx-description {
	padding-bottom: 8px;
	border-bottom: 1px solid orange;
}

.yui-layout-unit-left .checkBoxFieldWrapper div.inputEx-description {
	margin-top: 15px;
	margin-left: -20px;
}

div.helpAvailable{
	background-image:url('help.png');
	background-repeat:no-repeat;
	background-position:right;
}

#alertPanel_c {
	max-width:400px;
}

#alertPanelButton {
	padding:2px 15px;
}

/*********** End of CSS code for inplaceEdit as container title ************/

.yui-layout-hd {
	background-color: #eeeeee !important;

	background-image: none !important;
}

.yui-layout-hd h2 {
	color: #585858 !important;
}

div#propertiesForm div.mainGroup{
	border-bottom: 2px solid #999;
	padding-bottom: 10px;
}

div.WiringEditor-module-New  div.mainGroup {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}

div#propertiesForm div.smallBottomBorder {
	border-bottom: 1px solid #999;
	margin-bottom: 5px;
}

.inputEx-Expanded legend {
	padding: 4px 0;
}

div#propertiesForm fieldset{
	padding-top: 10px;
}

fieldset.inputEx-Expanded {
	border-bottom: 1px solid #999;
}


#propertiesForm div.inputEx-Group div.wideTextfields div.inputEx-label {
	width: 135px;
	text-align: left;
}

#propertiesForm div.inputEx-Group input[type="text"],
#propertiesForm div.inputEx-Group textarea {
	width: 200px;
}

#propertiesForm div.inputEx-Group .wideTextfields textarea {
	width:210px
}

#wireEditorConfirmMessageBox ol.warnings {
	text-align: left;
	padding-left: 50px;
}

#wireEditorConfirmMessageBox ol.warnings li {
	list-style: decimal;
}


#wireEditorConfirmMessageBox strong {
	font-weight: bold;
}
