.yui-skin-sam .yui-layout .yui-layout-hd{
	border:none;
}

.yui-layout-unit-left{
	background-color:#EEE;
}

.yui-layout-unit-left .inputEx-ListField-childContainer div{
	border-bottom:1px solid #999;
	padding-bottom:5px;
}

.yui-layout-unit-left .inputEx-ListField-childContainer div div{
	border-bottom:none;
	padding-bottom:0;
}

.yui-layout-unit-left .inputEx-ListField-childContainer div.mainGroup{
	border-bottom:2px solid #999;
}

.WireIt-Container .expanded {
	box-shadow: 10px 10px 10px #aaa !important;
}

#toggleAdvancedOptions .advancedMode {
	display: none;
}

.typo3-docheader-buttons .access-key {
	text-decoration: underline;
	font-weight: bold;
}

div.WireIt-Container{
	box-shadow:6px 6px 10px #aaa;
	filter:alpha(opacity=80);
	font-size:8pt;
	opacity:0.8;
	position:absolute;
	width:220px;
	z-index:5;
}

div.WireIt-Container div.body{
	border:1px solid #ccc;
	position:relative;
}

div.WireIt-Container-focused{
	box-shadow:10px 10px 10px #aaa!important;
	filter:alpha(opacity=100);
	opacity:1;
	z-index:6;
}

#modelingLayer{
	height:100%;
}

#moduleBar{
	-moz-border-radius:0;
	-moz-box-shadow:none;
	cursor:move;
	padding:3px;
	position:absolute;
	width:160px;
	z-index:10;
}

#moduleBar .WiringEditor-module span{
	font-size:13px;
	position:relative;
	top:0;
}

div.WireIt-Layer{
	background-image:url(background_pixel.png);
}

.WiringEditor-module{
	-moz-border-radius:0;
	background-color:#ccc;
	color:#333;
	cursor:move;
	font-size:10pt;
	font-weight:700;
	height:16px;
	margin:5px;
	padding:5px;
	width:130px;
}

#toolbar{
	position:static;
}

.yui-skin-sam .yui-layout{
	background-color:#EEE;
}

.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd,
.yui-skin-sam .yui-layout .yui-layout-clip{
	background-color:transparent;
	border:none;
}

div#typo3-inner-docbody{
	height:100%;
	padding:0;
}

div#domainModelEditor{
	height:100%;
	width:100%;
}

div.WireIt-Container-ddhandle{
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;
	background-color:#ccc;
	border:1px solid #ccc;
	color:#FFF;
	cursor:move;
	font-size:10pt;
	font-weight:700;
	height:22px;
	line-height:150%;
	padding-top:3px;
	text-align:center;
	width:auto;
}

div.WireIt-InputExTerminal{
	float:left;
	height:21px;
	position:absolute;
	top:-20px;
	width:21px;
}


div.advancedSettings legend{
	margin-left:20px;
	margin-top:-19px;
	position:absolute;
	z-index:500;
	font-weight: normal;
	color: #ccc;
}

div.WireIt-ImageContainer{
	width:auto;
}

.WireIt-Container .expanded{
	background-color:#fff;
	border:1px solid #CCC;
	border-top:none;
	box-shadow:0 4px 5px -4px #000;
	margin-left:-6px;
	padding-bottom:6px;
	padding-left:6px;
	position:absolute;
	width:212px;
	z-index:1000;
}

.WireIt-Container .advancedSettings.expanded{
	margin-left:-10px;
}

div.inputEx-Group fieldset.inputEx-Collapsed legend:hover div.inputEx-Group-collapseImg{
	background-position:-8px -400px;
}

div.inputEx-Group fieldset.inputEx-Expanded legend:hover div.inputEx-Group-collapseImg{
	background-position:-8px -81px;
}

div.inputEx-Group fieldset.inputEx-Collapsed legend div.inputEx-Group-collapseImg{
	background-position:-8px -320px;
}

div.inputEx-Group fieldset.inputEx-Expanded legend div.inputEx-Group-collapseImg{
	background-position:-8px 0;
}

div.Bubble div.body{
	cursor:move;
	height:45px;
	opacity:0.9;
	width:70px;
}

.WiringEditor-module span{
	position:relative;
	top:-3px;
}

div.extbase-modelTitleEditor{
	color:#333;
	cursor:move;
	font-size:10pt;
	font-weight:700;
	left:30px;
	line-height:100%;
	position:absolute;
	text-align:center;
	top:-29px;
}

div.WireIt-Container-ddhandle span{
	display:none;
}

div.inputEx-InPlaceEdit-visu:hover{
	background-color:transparent;
}

legend.inputEx-Group-legend{
	color:#666;
	font-weight:700;
	padding-top:4px;
}

a.inputEx-List-link{
	color:#F1A21B;
	cursor:pointer;
	margin-left:10px;
}

div.hiddenField{
	display:none;
}

div.propertyGroup,
div.relationGroup{
	border:none;
	padding:1px 6px 0;
}

div.relationGroup{
	padding:0;
	width:200px;
}

div.relationGroup .textfieldWrapper {
	margin-left: 10px;
}
div.relationGroup div.advancedSettings .textfieldWrapper {
	margin-left: 0;
}


div.propertyGroup{
	width:135px;
}

.relationGroup,
.objectSettings,.advancedSettings{
	width:210px;
}

div.inputEx-label{
	display:block;
	margin-bottom:3px;
	margin-right:2px;
	padding:0 17px 0 0;
	text-align:left;
}

div.inputEx-label label{
	line-height:20px;
	min-height:20px;
}

div.relationGroup div.inputEx-label{
	text-align:right;
}


.inputEx-fieldWrapper {
	clear: both;
}

#domainModelEditor.showAdvancedOptions fieldset.inputEx-Collapsed div.inputEx-fieldWrapper.advancedMode,
#domainModelEditor .inputEx-fieldWrapper.advancedMode {
	display:none;
}

#domainModelEditor.showAdvancedOptions .inputEx-fieldWrapper.advancedMode {
	display:block;
}


#domainModelEditor.showAdvancedOptions .inputEx-fieldWrapper.dependant,
#domainModelEditor.showAdvancedOptions .inputEx-fieldWrapper.dependant.advancedMode {
	display:none;
}

#domainModelEditor.showAdvancedOptions fieldset.File .inputEx-fieldWrapper.dependant.fileOnly.advancedMode,
#domainModelEditor.showAdvancedOptions fieldset.Image .inputEx-fieldWrapper.dependant.imageOnly.advancedMode,
#domainModelEditor.showAdvancedOptions fieldset.String .inputEx-fieldWrapper.dependant.stringOnly.advancedMode {
	display:block;
}

.selectFieldWrapper .inputEx-label,
.textfieldWrapper .inputEx-label{
	float:none;
}


.inputEx-Group .checkBoxFieldWrapper,
.inputEx-Group .inputEx-CheckBox{
	height:15px;
}

.objectSettings .checkBoxFieldWrapper div.inputEx-label,
.actionGroup .checkBoxFieldWrapper div.inputEx-label{
	width:100px;
}

.relationGroup .checkBoxFieldWrapper div.inputEx-label{
	width:55%;
}

.propertyGroup .checkBoxFieldWrapper div.inputEx-label {
	width:65%;
}

.inputEx-Group .checkBoxFieldWrapper div.inputEx-label label{
	white-space:nowrap;
}

.textfieldWrapper div.inputEx-label,
div.relationGroup .advancedSettings div.inputEx-label{
	text-align:left;
}

.inputEx-Group .textfieldWrapper div.inputEx-label {
	width: 100%;
}

div.objectSettings .inputEx-Field.inputEx-CheckBox,
div.relationGroup .advancedSettings .inputEx-Field.inputEx-CheckBox{
	float:left;
	width:27%;
}

div.propertyGroup .inputEx-Field.inputEx-CheckBox{
	float:left;
	width:20%;
}

div.mainGroup .inputEx-Field.inputEx-CheckBox{
	width:12%;
}

div.mainGroup .inputEx-Field.inputEx-CheckBox input,
div.objectSettings .inputEx-Field.inputEx-CheckBox input,
div.propertyGroup .inputEx-Field.inputEx-CheckBox input,
div.relationGroup .advancedSettings .inputEx-Field.inputEx-CheckBox input{
	float:right;
}

div.relationGroup .advancedSettings .inputEx-Field{
	width:90%;
}

div.propertyGroup div.textfieldWrapper div.inputEx-Field,
div.relationGroup div.advancedSettings div.inputEx-Field{
	float:none;
}

div.propertyGroup div.inputEx-Field{
	float:none;
}

div.actionGroup .inputEx-ListField{
	width:98%;
}

div.inputEx-List-link.deleteButton{
	position: absolute;
	right: 0;
	cursor:pointer;
	float:left;
}

.inputEx-StringField-wrapper input[type=text],.inputEx-StringField-wrapper textarea{
	font-size:9pt;
}

div.relationGroup textarea,
div.propertyGroup textarea,
div.propertyGroup input[type=text],
div.propertyGroup select{
	width:100%;
}

div.relationGroup textarea,
div.propertyGroup textarea,
div.propertyGroup input[type=text],
div.relationGroup input[type=text],
div.propertyGroup select{
	border: 1px solid #fff;
	color:#666;
	cursor: pointer;
}

div.relationGroup .inputEx-invalid  textarea,
div.propertyGroup .inputEx-invalid  textarea,
div.propertyGroup .inputEx-invalid  input[type=text],
div.relationGroup .inputEx-invalid  input[type=text] {
	border: 1px solid #C00E0C;
	font-weight: normal;
}

div.relationGroup select,
div.propertyGroup select{
	-webkit-appearance: none;
	-moz-appearance: none;
}


div.propertyGroup input[type=text],
div.relationGroup input[type=text]{
	font-weight: bold;
}

.showAdvancedOptions div.relationGroup textarea,
.showAdvancedOptions div.propertyGroup textarea,
.showAdvancedOptions div.propertyGroup input[type=text],
.showAdvancedOptions div.relationGroup input[type=text],
div.relationGroup textarea:focus,
div.relationGroup .inputEx-Expanded  textarea,
div.propertyGroup textarea:focus,
div.propertyGroup .inputEx-Expanded textarea,
div.propertyGroup input[type=text]:focus,
div.relationGroup input[type=text]:focus{
	border: 1px solid #666;
	font-weight: normal;
}

.showAdvancedOptions div.propertyGroup select,
div.relationGroup .inputEx-Expanded select,
div.propertyGroup .inputEx-invalid + .selectFieldWrapper select,
div.relationGroup select:focus,
div.propertyGroup select:focus {
	-webkit-appearance: menulist;
	-moz-appearance: menulist;
	border: 1px solid #666;
}

.showAdvancedOptions div.propertyGroup select,
 div.relationGroup .advancedSettings select{
	margin: 4px 0;
}


div.propertyGroup .textfieldWrapper.small input[type=text] {
	width: 40px;
}

div.relationGroup input[type=text]{
	width:120px;
	margin-left: 30px;
}


div.objectSettings .textfieldWrapper input[type=text],
div.objectSettings .textfieldWrapper textarea{
	width:90%;
}

div.objectSettings .inputEx-StringField-wrapper{
	width:190px;
}

div.relationGroup .advancedSettings input[type=text]{
	width:100%;
	margin-left: 0;
}

.properties .inputEx-ListField{
	width:205px;
}

div#wireEditorMessageBox{
	min-width:200px;
	padding:0 15px 15px;
}

div#wireEditorMessageBox .error{
	color:red;
	font-weight:700;
}

div.terminalFieldWrap{
	display:none;
}

input[disabled]{
	display:none;
}

div.inputEx-description{
	background-color:#EEE;
	border:1px solid orange;
	box-shadow:-10px 10px 8px #999;
	display:none;
	font-size:9pt;
	margin-left:10px;
	margin-top:-20px;
	min-width:120px;
	padding:8px;
	position:absolute;
	z-index:10000;
}

.yui-layout-unit-left .inputEx-ListField-childContainer div.inputEx-description{
	border-bottom:1px solid orange;
	padding-bottom:8px;
}

.yui-layout-unit-left .checkBoxFieldWrapper div.inputEx-description{
	margin-left:-20px;
	margin-top:15px;
}

label.helpAvailable {
	cursor: help;
}

div.propertyGroup div.inputEx-valid > div.inputEx-label label.helpAvailable,
div.relationGroup div.inputEx-valid > div.inputEx-label label.helpAvailable,
div.propertyGroup div.inputEx-empty > div.inputEx-label label.helpAvailable
div.relationGroup div.inputEx-empty > div.inputEx-label label.helpAvailable {
	position: absolute;
	top:-4px;
}


#alertPanel_c{
	max-width:400px;
}

#alertPanelButton{
	padding:2px 15px;
}

.yui-layout-hd{
	background-color:#eee!important;
	background-image:none!important;
}

.yui-layout-hd h2{
	color:#585858!important;
}

div#propertiesForm {
	margin-bottom: 100px;
}

div#propertiesForm div.mainGroup{
	border-bottom:2px solid #999;
	padding-bottom:10px;
	clear: left;
}

div.WiringEditor-module-New div.mainGroup{
	border-bottom:1px solid #999;
	margin-bottom:10px;
	padding-bottom:10px;
}

div#propertiesForm div.smallBottomBorder{
	border-bottom:1px solid #999;
	margin-bottom:5px;
}

.inputEx-Expanded legend{
	padding:4px 0;
}

div#propertiesForm fieldset{
	padding-top:10px;
}

#propertiesForm div.inputEx-Group div.wideTextfields div.inputEx-label{
	text-align:left;
	width:135px;
}

#propertiesForm div.inputEx-Group input[type=text],
#propertiesForm div.inputEx-Group textarea{
	width:200px;
}


#wireEditorConfirmMessageBox ol.warnings{
	padding-left:50px;
	text-align:left;
}

#wireEditorConfirmMessageBox ol.warnings li{
	list-style:decimal;
}

#wireEditorConfirmMessageBox strong{
	font-weight:700;
}

.inputEx-ListField-childContainer > div {
	border-top: 1px solid #ccc;
	padding-top: 2px;
}

.showAdvancedOptions .inputEx-ListField-childContainer > div {
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid #666;
}

div.positionGroup div.inputEx-fieldWrapper {
	margin-bottom: 2px;
}

.inputEx-Field.inputEx-ListField > span {
	display: none;
}

.positionGroup .helpAvailable:hover div.inputEx-description,
.inputEx-invalid .inputEx-StringField-wrapper:hover + div.inputEx-description,
.helpAvailable select:focus + div.inputEx-description{
	display: block;
	margin-left: 200px;
}

.mainGroup .helpAvailable:hover div.inputEx-description {
	margin-left: 30px;
}

.inputEx-CheckBox.helpAvailable:hover div.inputEx-description {
	display: none;
}

.inputEx-ListField-Arrow,
.WireIt-Container-closebutton.t3-icon-edit-delete,
.deleteButton {
	display: none;
}

div:hover > .inputEx-ListField-Arrow,
div:hover > .WireIt-Container-closebutton.t3-icon-edit-delete,
div:hover > .deleteButton {
	display: block;
}
