.yui-skin-sam .yui-layout .yui-layout-hd {
	border:none;
}

.yui-layout-unit-left  {
	background-color:#EEE;
}

div.WireIt-Container {
	position: absolute;
	z-index: 5;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	font-size: 8pt;
}

div.WireIt-Container div.body {
	border: 1px solid #ccc;
}

div.WireIt-Container-focused {
	z-index: 6;
	opacity: 1;
	filter: alpha(opacity = 100);
}

#modelingLayer {
	height: 100%;
}

#moduleBar {
	width: 160px;
	position: absolute;
	z-index: 10;
	cursor: move;
	padding: 3px;
	-moz-border-radius:0px;
	-moz-box-shadow: none;
}

#moduleBar .WiringEditor-module span {
	font-size: 13px;
	position: relative;
	top: 0px;
}

div.WireIt-Layer {
	background-image: url('background_pixel.png');
}

.WiringEditor-module {
	cursor: move;
	-moz-border-radius:0px;
	background-color:#ccc;
	font-size: 10pt;
	font-weight: bold;
	color: #333;
	height:16px;
	width:130px;
	margin:5px;
	padding:5px;
}

#toolbar {
	position: static;
}

.yui-skin-sam .yui-layout{
	background-color: #EEEEEE;
}

.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd ,
.yui-skin-sam .yui-layout .yui-layout-clip {
	background-color: transparent;
	border: none;
}

div#typo3-inner-docbody {
	height:100%;
	padding:0;
}

div#domainModelEditor {
	height:100%;
	width:100%;
}

div.WireIt-Container {
	width: 350px; /* Prevent the modules from scratching on the right */
}


div.WireIt-Container-ddhandle {
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px;
	background-color: #ccc;
	border: 1px solid #ccc;
	color:white;
	cursor:move;
	font-size:10pt;
	font-weight:bold;
	height:22px;
	line-height:150%;
	padding-top:3px;
	text-align:center;
	width: auto;
}

div.WireIt-InputExTerminal {
	float: left;
	width: 21px;
	height: 21px;
	position: relative;
}
div.WireIt-InputExTerminal div.WireIt-Terminal {
	top: -3px;
	left: -7px;
}
div.inputEx-Group div.inputEx-label {
	width:100px;
}

div.WireIt-ImageContainer {
	width: auto;
}

div.Bubble div.body {
	width: 70px;
	height: 45px;
	opacity: 0.9;
	cursor: move;
}

.WiringEditor-module span {
	position: relative;
	top: -3px;
}

/*********** CSS code for making the model title inplaceEdit appear as the container title ************/

div.WireIt-Container div.body {
	position: relative;
}

div.extbase-modelTitleEditor {
	position: absolute;
	top: -29px;
	left: 50px;
	color: #333;
	cursor:move;
	font-size:10pt;
	font-weight:bold;
	line-height:100%;
	text-align:center;
}

div.WireIt-Container-ddhandle span {
	display: none;
}

div.inputEx-InPlaceEdit-visu:hover {
	background-color: transparent;
}

legend.inputEx-Group-legend {
	color: #666;
	font-weight:bold;
}

a.inputEx-List-link {
	color: #F1A21B;
	cursor:pointer;
	margin-left:10px;
}

div.hiddenField {
	display:none;
}

div.propertyGroup,div.relationGroup  {
	border:1px solid #BBB;
	margin-bottom:8px;
	padding:6px;
}

div#wireEditorMessageBox {
	padding:0 15px 15px;
	min-width:200px;
}

div#wireEditorMessageBox .error {
	color:red;
	font-weight:bold;
}

div.WireIt-InputExTerminal {
	float: left;
	width: 21px;
	height: 21px;
	position: absolute;
	top:-20px;
}

div.terminalFieldWrap {
    display: none;
}


input[disabled] {
	display:none;
}

div.WireIt-InputExTerminal div.WireIt-Terminal {
	top: -3px;
	left: -7px;
}
div.inputEx-Group div.inputEx-label {
	width:100px;
}

div.inputEx-description {
	display:none;
	background-color: #EEEEEE;
	border: 1px solid orange;
	font-size: 8pt;
	margin-left: 10px;
	margin-top: -20px;
	min-width: 120px;
	padding: 8px;
	position: absolute;
	z-index: 100;
	box-shadow: -10px 10px 8px #999;
}

div.inputEx-label {
	padding-right:17px;
	margin-right:2px;
	display:block;
}
div.helpAvailable{
	background-image:url('help.png');
	background-repeat:no-repeat;
	background-position:right;
}

#alertPanel_c {
	max-width:400px;
}

#alertPanelButton {
	padding:2px 15px;
}

/*********** End of CSS code for inplaceEdit as container title ************/

.yui-layout-hd {
	background-color: #eeeeee !important;

	background-image: none !important;
}

.yui-layout-hd h2 {
	color: #585858 !important;
}


div#propertiesForm div.bottomBorder{
	border-bottom: 2px solid #999;
	padding-bottom: 10px;
}

div.WiringEditor-module-New  div.bottomBorder {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}

div#propertiesForm div.smallBottomBorder {
	border-bottom: 1px solid #999;
	margin-bottom: 5px;
}

.inputEx-Expanded legend {
	padding: 4px 0;
}

div#propertiesForm fieldset{
	padding-top: 10px;
}

fieldset.inputEx-Expanded {
	border-bottom: 1px solid #999;
}

#propertiesForm div.inputEx-Group div.inputEx-label {
	width: 70px;
}

#propertiesForm div.inputEx-Group div.wideTextfields div.inputEx-label {
	width: 135px;
	text-align: left;
}

#wireEditorConfirmMessageBox ol.warnings {
	text-align: left;
	padding-left: 50px;
}

#wireEditorConfirmMessageBox ol.warnings li {
	list-style: decimal;
}


#wireEditorConfirmMessageBox strong {
	font-weight: bold;
}
