div.propertyGroup textarea, div.propertyGroup input[type=text], div.propertyGroup select, div.relationGroup textarea, div.relationGroup input[type=text] {
  border: 1px solid #fff;
  color: #666;
  cursor: pointer; }

.module-body.index {
  min-height: 900px; }
  .module-body.index a {
    color: #666;
    font-weight: 700; }
.module-body.domainmodelling {
  padding: 89px 0 0 0 !important; }

.yui-layout-unit-left {
  background-color: #eee; }
  .yui-layout-unit-left .inputEx-ListField-childContainer div {
    border-bottom: 1px solid #999;
    padding-bottom: 5px; }
    .yui-layout-unit-left .inputEx-ListField-childContainer div div {
      border-bottom: none;
      padding-bottom: 0; }
    .yui-layout-unit-left .inputEx-ListField-childContainer div.mainGroup {
      border-bottom: 2px solid #999; }
    .yui-layout-unit-left .inputEx-ListField-childContainer div.inputEx-description {
      border-bottom: 1px solid orange;
      padding-bottom: 8px; }
  .yui-layout-unit-left .checkBoxFieldWrapper div.inputEx-description {
    margin-left: -20px;
    margin-top: 15px; }

.yui-panel {
  text-align: center; }

.WireIt-Container .expanded {
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 10px 10px 10px #aaa !important;
  margin-left: -4px;
  padding-bottom: 6px;
  padding-left: 6px;
  position: absolute;
  width: 220px;
  z-index: 1000; }
.WireIt-Container .advancedSettings.expanded {
  margin-left: -8px; }

div.WireIt-Container {
  box-shadow: 6px 6px 10px #aaa;
  filter: alpha(opacity=80);
  font-size: 8pt;
  opacity: 0.8;
  position: absolute;
  width: 220px;
  z-index: 5; }
  div.WireIt-Container div.body {
    border: 1px solid #ccc;
    padding: 10px 3px;
    position: relative; }
div.WireIt-Container-focused {
  box-shadow: 10px 10px 10px #aaa !important;
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 6; }
div.WireIt-Layer {
  background-image: url(background_pixel.png); }
div#typo3-docbody {
  height: 100%;
  padding: 0; }
div#domainModelEditor {
  height: 100%;
  width: 100%; }
div.WireIt-Container-ddhandle {
  background-color: #ccc;
  border: 1px solid #ccc;
  color: #fff;
  cursor: move;
  font-size: 10pt;
  font-weight: 700;
  height: 25px;
  line-height: 150%;
  padding-top: 0;
  text-align: center;
  width: auto; }
  div.WireIt-Container-ddhandle span {
    display: none; }
div.WireIt-InputExTerminal {
  float: left;
  height: 21px;
  position: absolute;
  top: -20px;
  width: 21px; }
div.WireIt-ImageContainer {
  width: auto; }
div.extbase-modelTitleEditor {
  color: #333;
  cursor: move;
  font-size: 10pt;
  font-weight: 700;
  left: 30px;
  line-height: 100%;
  position: absolute;
  text-align: center;
  top: -32px; }
div#moduleProxy {
  padding-left: 0;
  white-space: nowrap; }
div.propertyGroup {
  border: none;
  padding: 1px 6px 0;
  width: 149px; }
  div.propertyGroup textarea {
    border: 1px solid #ddd;
    width: 100%; }
    div.propertyGroup textarea:focus {
      font-weight: 400; }
  div.propertyGroup input[type=text] {
    width: 100%;
    font-weight: 700; }
    div.propertyGroup input[type=text]:focus {
      font-weight: 400; }
  div.propertyGroup select {
    width: 100%; }
    div.propertyGroup select:focus {
      border: 1px solid #666; }
  div.propertyGroup .inputEx-invalid textarea {
    border: 1px solid #c00e0c;
    font-weight: 400; }
  div.propertyGroup .inputEx-invalid input[type=text] {
    border: 1px solid #c00e0c;
    font-weight: 400; }
  div.propertyGroup .inputEx-invalid + .selectFieldWrapper select {
    border: 1px solid #666; }
  div.propertyGroup div.inputEx-Field {
    float: none; }
  div.propertyGroup div.inputEx-valid > div.inputEx-label label.helpAvailable {
    position: absolute;
    top: -4px; }
  div.propertyGroup div.inputEx-empty > div.inputEx-label label.helpAvailable {
    position: absolute;
    top: -4px; }
  div.propertyGroup div.textfieldWrapper div.inputEx-Field {
    float: none; }
  div.propertyGroup .inputEx-Field.inputEx-CheckBox {
    float: left;
    width: 20%; }
    div.propertyGroup .inputEx-Field.inputEx-CheckBox input {
      float: right; }
  div.propertyGroup .inputEx-Expanded textarea {
    font-weight: 400; }
  div.propertyGroup .textfieldWrapper.small input[type=text] {
    width: 40px; }
div.relationGroup {
  border: none;
  padding: 1px 6px 0;
  padding: 0;
  width: 200px; }
  div.relationGroup .textfieldWrapper {
    margin-left: 10px;
    margin-right: 45px; }
  div.relationGroup div.advancedSettings .textfieldWrapper {
    margin-left: 0; }
  div.relationGroup div.advancedSettings div.inputEx-Field {
    float: none; }
  div.relationGroup div.inputEx-label {
    height: 17px;
    margin: 0;
    text-align: right; }
  div.relationGroup div.inputEx-valid > div.inputEx-label label.helpAvailable {
    position: absolute;
    top: -4px; }
  div.relationGroup div.inputEx-empty > div.inputEx-label label.helpAvailable {
    position: absolute;
    top: -4px; }
  div.relationGroup .advancedSettings select {
    margin: 4px 0; }
  div.relationGroup .advancedSettings.inputEx-valid {
    width: 220px; }
  div.relationGroup .advancedSettings .textfieldWrapper {
    margin-right: 5px; }
  div.relationGroup .advancedSettings input[type=text] {
    margin-left: 0;
    width: 100%; }
  div.relationGroup .advancedSettings .inputEx-Field {
    width: 90%; }
    div.relationGroup .advancedSettings .inputEx-Field.inputEx-CheckBox {
      float: left; }
      div.relationGroup .advancedSettings .inputEx-Field.inputEx-CheckBox input {
        float: right; }
  div.relationGroup .advancedSettings div.inputEx-label {
    text-align: left; }
  div.relationGroup textarea {
    width: 100%;
    border: 1px solid #ddd; }
  div.relationGroup input[type=text] {
    margin-left: 30px;
    width: 120px;
    font-weight: 700; }
    div.relationGroup input[type=text]:focus {
      font-weight: 400; }
  div.relationGroup .inputEx-invalid textarea {
    border: 1px solid #c00e0c;
    font-weight: 400; }
  div.relationGroup .inputEx-invalid input[type=text] {
    border: 1px solid #c00e0c;
    font-weight: 400; }
  div.relationGroup select:focus {
    border: 1px solid #666; }
  div.relationGroup .inputEx-Expanded select {
    border: 1px solid #666; }
  div.relationGroup .advancedMode.textfieldWrapper {
    margin-right: 5px; }
div.inputEx-label {
  display: block;
  margin-bottom: 3px;
  margin-right: 2px;
  padding: 0 17px 0 0;
  text-align: left; }
  div.inputEx-label label {
    line-height: 20px;
    min-height: 20px; }
div.objectSettings .inputEx-StringField-wrapper {
  width: 190px; }
div.objectSettings .textfieldWrapper input[type=text] {
  width: 90%; }
div.objectSettings .textfieldWrapper textarea {
  width: 90%; }
div.objectSettings .inputEx-Field.inputEx-CheckBox {
  float: left; }
  div.objectSettings .inputEx-Field.inputEx-CheckBox input {
    float: right; }
div#wireEditorMessageBox {
  min-width: 200px;
  padding: 0 15px 15px; }
  div#wireEditorMessageBox .error {
    color: red;
    font-weight: 700; }
div.inputEx-description {
  background-color: #eee;
  border: 1px solid orange;
  box-shadow: -10px 10px 8px #999;
  display: none;
  font-size: 9pt;
  margin-left: 10px;
  margin-top: -20px;
  min-width: 120px;
  padding: 8px;
  position: absolute;
  z-index: 10000; }
div#propertiesForm {
  margin-bottom: 100px; }
  div#propertiesForm div.mainGroup {
    border-bottom: 2px solid #999;
    clear: left;
    padding-bottom: 10px; }
    div#propertiesForm div.mainGroup div.checkBoxFieldWrapper div.inputEx-label {
      width: 165px; }
  div#propertiesForm div.smallBottomBorder {
    border-bottom: 1px solid #999;
    margin-bottom: 5px; }
  div#propertiesForm fieldset {
    padding-top: 10px; }
div.hiddenField {
  display: none; }
div.terminalFieldWrap {
  display: none; }
div.advancedSettings legend {
  color: #ccc;
  margin-left: 20px;
  margin-top: -19px;
  position: absolute;
  z-index: 500; }
div.inputEx-Group fieldset.inputEx-Collapsed legend:hover div.inputEx-Group-collapseImg {
  background-position: -8px -400px; }
div.inputEx-Group fieldset.inputEx-Collapsed legend div.inputEx-Group-collapseImg {
  background-position: -8px -320px; }
div.inputEx-Group fieldset.inputEx-Expanded legend:hover div.inputEx-Group-collapseImg {
  background-position: -8px -81px; }
div.inputEx-Group fieldset.inputEx-Expanded legend div.inputEx-Group-collapseImg {
  background-position: -8px 0; }
div.Bubble div.body {
  cursor: move;
  height: 45px;
  opacity: 0.9;
  width: 70px; }
div.inputEx-InPlaceEdit-visu:hover {
  background-color: transparent; }
div.mainGroup .inputEx-Field.inputEx-CheckBox {
  width: 12%; }
  div.mainGroup .inputEx-Field.inputEx-CheckBox input {
    float: right; }
div.actionGroup .inputEx-ListField {
  width: 98%; }
div.inputEx-List-link.deleteButton {
  cursor: pointer;
  float: left;
  position: absolute;
  right: 0; }
div.WiringEditor-module-New div.mainGroup {
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding-bottom: 10px; }
div.positionGroup div.inputEx-fieldWrapper {
  margin-bottom: 2px; }
div:hover > .inputEx-ListField-Arrow {
  display: inline-block; }
div:hover > .WireIt-Container-closebutton.t3-icon-edit-delete {
  display: inline-block; }
div:hover > .WireIt-Container-closebutton.icon {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 5px;
  top: 5px; }
div:hover > .deleteButton {
  display: inline-block; }

#modelingLayer {
  height: 100%; }

#domainModelEditor legend {
  font-size: 11px; }
#domainModelEditor .collapse {
  display: block;
  visibility: visible; }
#domainModelEditor .t3-icon {
  font-size: 1px; }
#domainModelEditor.showAdvancedOptions fieldset.inputEx-Collapsed div.inputEx-fieldWrapper.advancedMode {
  display: none; }
#domainModelEditor.showAdvancedOptions fieldset.File .inputEx-fieldWrapper.dependant.fileOnly.advancedMode {
  display: block; }
#domainModelEditor.showAdvancedOptions fieldset.Image .inputEx-fieldWrapper.dependant.imageOnly.advancedMode {
  display: block; }
#domainModelEditor.showAdvancedOptions fieldset.String .inputEx-fieldWrapper.dependant.stringOnly.advancedMode {
  display: block; }
#domainModelEditor.showAdvancedOptions .inputEx-fieldWrapper.advancedMode {
  display: block; }
#domainModelEditor .inputEx-fieldWrapper.advancedMode {
  display: none; }
#domainModelEditor .inputEx-fieldWrapper.dependant {
  display: none; }
  #domainModelEditor .inputEx-fieldWrapper.dependant.advancedMode {
    display: none; }
#domainModelEditor .relationGroup fieldset.manyToMany .advancedSettings .inputEx-Expanded .dependant.renderType {
  display: block; }
#domainModelEditor .relationGroup fieldset.zeroToMany .advancedSettings .inputEx-Expanded .dependant.renderType {
  display: block; }

#moduleBar {
  cursor: move;
  padding: 3px;
  position: absolute;
  width: 160px;
  z-index: 10; }
  #moduleBar .WiringEditor-module span {
    font-size: 13px;
    position: relative;
    top: 0; }

.WiringEditor-module {
  background-color: #ccc;
  color: #333;
  cursor: move;
  font-size: 10pt;
  font-weight: 700;
  height: auto;
  margin: 5px;
  padding: 5px;
  width: 130px; }
  .WiringEditor-module span {
    position: relative;
    top: -3px; }

#toolbar {
  position: static; }

.inputEx-InPlaceEdit-editor input[type="text"] {
  width: 150px; }
.inputEx-InPlaceEdit-editor .inputEx-InPlaceEdit-OkButton {
  font-size: 0; }

.relationGroup {
  width: 210px; }
  .relationGroup .checkBoxFieldWrapper div.inputEx-label {
    width: 55%; }

.objectSettings {
  width: 210px; }
  .objectSettings .checkBoxFieldWrapper div.inputEx-label {
    width: 170px; }

.advancedSettings {
  width: 210px; }

.inputEx-fieldWrapper {
  clear: both; }

.inputEx-Group .checkBoxFieldWrapper {
  height: 15px; }
  .inputEx-Group .checkBoxFieldWrapper div.inputEx-label label {
    white-space: nowrap; }
.inputEx-Group .inputEx-CheckBox {
  height: 15px; }
.inputEx-Group .relations .inputEx-ListField-Arrow {
  float: right;
  margin-right: 15px;
  margin-top: -18px; }
.inputEx-Group .relations .inputEx-ListField-ArrowDown {
  margin-right: 30px; }
.inputEx-Group .inputEx-ListField-Arrow {
  float: left; }
.inputEx-Group .textfieldWrapper div.inputEx-label {
  width: 100%; }

.textfieldWrapper .inputEx-label {
  float: none; }
.textfieldWrapper div.inputEx-label {
  text-align: left; }

.inputEx-StringField-wrapper input[type=text] {
  font-size: 9pt; }
.inputEx-StringField-wrapper textarea {
  font-size: 9pt; }

.showAdvancedOptions div.relationGroup textarea {
  font-weight: 400; }
.showAdvancedOptions div.relationGroup input[type=text] {
  font-weight: 400; }
.showAdvancedOptions div.relationGroup input[type=text][name=relationName] {
  border: 1px solid #fff;
  font-weight: 700; }
.showAdvancedOptions div.propertyGroup textarea {
  font-weight: 400; }
.showAdvancedOptions div.propertyGroup input[type=text] {
  font-weight: 400; }
.showAdvancedOptions div.propertyGroup select {
  border: 1px solid #666;
  margin: 4px 0; }
.showAdvancedOptions .inputEx-ListField-childContainer > div {
  border-top: 1px solid #bbb; }

#alertPanel_c {
  max-width: 400px; }

#alertPanelButton {
  padding: 2px 15px; }

.yui-layout-hd {
  background-color: #eee !important;
  background-image: none !important; }
  .yui-layout-hd h2 {
    color: #585858 !important; }

.yui-layout .yui-layout-unit-left .yui-layout-hd {
  z-index: 10; }
.yui-layout .yui-layout-unit div.yui-layout-hd .collapse {
  background-position-y: -158px !important;
  height: 18px; }

#wireEditorConfirmMessageBox strong {
  font-weight: 700; }
#wireEditorConfirmMessageBox ol.warnings {
  padding-left: 50px;
  text-align: left; }
  #wireEditorConfirmMessageBox ol.warnings li {
    list-style: decimal; }

.t3js-module-docheader-bar-buttons {
  display: none; }

input[disabled] {
  display: none; }

.inputEx-ListField-Arrow {
  display: none; }

.deleteButton {
  display: none; }

#tools-ExtensionBuilderExtensionbuilder .module-docheader-bar .module-icon {
  float: right;
  margin: 5px; }
#tools-ExtensionBuilderExtensionbuilder .module-docheader-bar .docheader-funcmenu {
  float: right; }

.yui-skin-sam .yui-layout {
  background-color: #eee; }
  .yui-skin-sam .yui-layout .yui-layout-hd {
    border: none; }
  .yui-skin-sam .yui-layout .yui-layout-clip {
    background-color: transparent;
    border: none; }
  .yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd {
    background-color: transparent;
    border: none; }

.typo3-docheader-buttons .access-key {
  font-weight: 700;
  text-decoration: underline; }

legend.inputEx-Group-legend {
  border-bottom: none;
  color: #666;
  font-weight: 700;
  padding-top: 4px;
  width: auto; }

a.inputEx-List-link {
  color: #f1a21b;
  cursor: pointer;
  margin-left: 10px; }

.actionGroup .checkBoxFieldWrapper div.inputEx-label {
  width: 170px; }

.propertyGroup .checkBoxFieldWrapper div.inputEx-label {
  width: 65%; }

.propertyGroup .checkBoxFieldWrapper.advanced {
  min-width: 180px; }

.properties .inputEx-ListField {
  width: 205px; }

label.helpAvailable {
  cursor: help; }

.inputEx-Expanded legend {
  border-bottom: none;
  padding: 4px 0; }

#propertiesForm div.inputEx-Group input[type=text] {
  padding: 3px;
  width: 200px; }
#propertiesForm div.inputEx-Group textarea {
  padding: 3px;
  width: 200px; }
#propertiesForm div.inputEx-Group div.wideTextfields div.inputEx-label {
  text-align: left;
  width: 135px; }

.inputEx-ListField-childContainer > div {
  border-top: 1px solid #ccc;
  padding-top: 2px; }

.positionGroup .helpAvailable:hover div.inputEx-description {
  display: block;
  margin-left: 200px; }

.inputEx-invalid .inputEx-StringField-wrapper:hover + div.inputEx-description {
  display: block;
  margin-left: 200px; }

.helpAvailable select:focus + div.inputEx-description {
  display: block;
  margin-left: 200px; }

.mainGroup .helpAvailable:hover div.inputEx-description {
  margin-left: 30px; }

#toggleAdvancedOptions .advancedMode {
  display: none; }

.inputEx-Field.inputEx-ListField > span {
  display: none; }

.inputEx-CheckBox.helpAvailable:hover div.inputEx-description {
  display: none; }

.WireIt-Container-closebutton.icon {
  display: none; }

.selectFieldWrapper .inputEx-label {
  float: none; }
