

.yui-skin-sam .yui-layout .yui-layout-hd {
	//background:transparent url(../../alt_menu_mainitem_bg.gif) repeat-x scroll left top;
	border:none;
}

#top .logo {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 24px;
   font-weight: bold;
   color: #FF8700;
   padding-left: 10px;
   padding-top: 4px;
   text-align: center;
}


div.WireIt-Container {
   position: absolute;
 	z-index: 5;
 	opacity: 0.7;
 	filter: alpha(opacity = 70);
   font-size: 8pt;
}

div.WireIt-Container div.body {
 	border: 2px solid #0A42AF;
}

div.WireIt-Container-ddhandle {
   background-color: #0A42AF;
}

div.WireIt-Container-focused {
   z-index: 6;
   opacity: 0.85;
   filter: alpha(opacity = 85);
}



#modelingLayer {
	height: 100%;
}

#moduleBar {
	width: 150px;
	position: absolute;
	top: 0px;
	left: 500px;
	z-index: 10;

	cursor: move;
	-moz-border-radius:5px;
	-moz-box-shadow: white 0 0 5px 0;
	border: 5px solid white;
	
	background-color: white;
	
	padding: 0;
}

div.WireIt-Layer {
	background-image: url('background_pixel.png');
}


.WiringEditor-module {
	cursor: move;
	-moz-border-radius:5px;	
	margin: 0;
}

#toolbar {
   position: static;
}

.yui-skin-sam .yui-layout{
	background-color: #EDEEEE;
}

.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd ,
.yui-skin-sam .yui-layout .yui-layout-clip {
	background-color: transparent;
}



div#typo3-inner-docbody {
	height:100%;
	padding:0;
}

div#domainModelEditor {
	height:100%;
	width:100%;
}

div.WireIt-Container {
	width: 350px; /* Prevent the modules from scratching on the right */
}
div.WireIt-InputExTerminal {
	float: left;
	width: 21px;
	height: 21px;
	position: relative;
}
div.WireIt-InputExTerminal div.WireIt-Terminal {
	top: -3px;
	left: -7px;
}
div.inputEx-Group div.inputEx-label {
	width:100px;
}

div.WireIt-ImageContainer {
	width: auto;
}

div.Bubble div.body {
	width: 70px;
	height: 45px;
	opacity: 0.8;
	cursor: move;
}


.WiringEditor-module span {
	position: relative;
	top: -3px;
}

/*********** CSS code for making the model title inplaceEdit appear as the container title ************/

/*
div.WireIt-Container {
	position: absolute;
}
*/

div.WireIt-Container div.body {
	position: relative;
}


div.extbase-modelTitleEditor {
	position: absolute;
	top: -32px;
	left: 50px;
	color:white;
	cursor:move;
	font-size:10pt;
	font-weight:bold;
	line-height:150%;
	text-align:center;
}
div.WireIt-Container-ddhandle span {
	display: none;
}
div.inputEx-InPlaceEdit-visu:hover {
   background-color: #000000;
}
/*********** End of CSS code for inplaceEdit as container title ************/
