.vh-80 {
    height: 80vh;
}

.module-body {
    padding: 0;
}

#modeller {
    height: 85vh;
    width: 100%
}

#modeller-left {
    text-align: left;
    background-color: #f1f1f1
}

#modeller-right {
    text-align: left
}

#extension-builder-footer {
    padding: 10px 24px;
    background-color: #eee;
    border-top: 1px solid #c3c3c3
}

#extension-builder-footer ul li {
    display: inline-block
}

#extension-builder-footer ul li:last-child {
    margin-right: 0px
}

.card-footer {
    background-color: #EEE;
}
