.vh-80 {
    height: 80vh;
}

.module-body {
    padding: 0;
}

#modeller {
    height: 100%;
    width: 100%
}

#modeller-left {
    text-align: left;
    background-color: #f1f1f1
}

#modeller-right {
    text-align: left
}

#extension-builder-footer {
    padding: 10px 24px;
    background-color: #eee;
    border-top: 1px solid #c3c3c3
}

#extension-builder-footer ul li {
    display: inline-block
}

#extension-builder-footer ul li:last-child {
    margin-right: 0px
}

.card-footer {
    background-color: #EEE;
}

/** Modal **/
@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        --bs-modal-width: 800px;
    }
}
/** Modal **/
@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        --bs-modal-width: 800px;
    }
}

@media (min-width: 576px) {
    .modal-sm {
        --bs-modal-width: 300px;
    }
    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        margin-left: auto;
    }
}
