/*!***************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./Resources/Public/Scss/index.scss ***!
  \***************************************************************************************************************************/
.container-fluid ul {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.input-group .input-group-text {
  min-width: 50px;
}

.vh-80 {
  height: 80vh;
}

#extension-builder-footer {
  padding: 10px 24px;
  background-color: #EEE;
  border-top: 1px solid #C3C3C3;
}
#extension-builder-footer ul li {
  display: inline-block;
}
#extension-builder-footer ul li:last-child {
  margin-right: 0;
}

#domainModelEditor .footer li {
  list-style: none;
}

.modal-dialog {
  max-width: min(30vw, 50%, 300px);
}

.module-body {
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}
#root-left {
  text-align: left;
  background-color: #F1F1F1;
}
#root-main {
  text-align: left;
}
#root-right {
  text-align: left;
}

#settings-column, #right-column {
  height: 100vh;
  z-index: 1;
  transition: 0.5s ease;
}

#settings-column {
  width: 400px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#settings-column::-webkit-scrollbar {
  display: none;
}

#right-column {
  position: absolute;
  left: 0;
  overflow-y: hidden;
}

.no-padding {
  padding: 0 !important;
}

#show-advanced-options,
#btn-sidebar-collapse {
  z-index: 999999999;
  top: 80px;
  position: fixed;
  transition: left 0.5s ease;
  color: #515151;
  background-color: #F4F4F4;
  border-color: #F4F4F4;
}
#show-advanced-options.collapsed,
#btn-sidebar-collapse.collapsed {
  left: 20px;
}
#show-advanced-options.expanded,
#btn-sidebar-collapse.expanded {
  left: 415px;
}

#show-advanced-options {
  top: 30px;
}

/* React Flow */
.dndflow {
  flex: 1;
  flex-direction: column;
  display: flex;
  height: 100%;
  background-color: #D3D3D3;
}
.dndflow aside {
  border-right: 1px solid #EEE;
  padding: 15px 10px;
  font-size: 12px;
  background: #FCFCFC;
}
.dndflow aside .debug-output {
  max-height: 100px;
}
.dndflow aside .description {
  margin-bottom: 10px;
}
.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1A192B;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  border-color: #0303B3;
  max-width: 150px;
}
.dndflow .reactflow-wrapper {
  flex: 1;
  height: 100%;
}
.dndflow .selectall {
  margin-top: 10px;
}

.custom-model-node {
  width: 100%;
  min-width: 300px;
  border: 1px solid #CCC;
  padding: 5px;
  border-radius: 5px;
  background: #FFF;
}
.custom-model-node .custom-model-node__header {
  height: 70px;
}
.custom-model-node label {
  display: block;
  color: #777;
  font-size: 12px;
}
.custom-model-node .react-flow__handle {
  width: 20px;
  height: 20px;
  top: -10px;
  background-color: #DFA23A;
  border: 3px solid #DFA23A;
}
.custom-model-node input[type=text],
.custom-model-node textarea {
  width: 100%;
}
.custom-model-node .drag-handle {
  width: 100%;
  width: 42%;
  background-color: #FF8700;
  position: absolute;
  top: -24px;
  left: 29%;
  min-width: 20px;
  min-height: 30px;
  border-radius: 4px;
  border: 2px solid #FF8700;
}
.custom-model-node .accordion-header .accordion-button {
  padding: 5px 0.5rem;
}
.custom-model-node .accordion-body {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.custom-model-node .relation {
  margin-top: -20px;
}
.custom-model-node .btn-delete-node {
  position: absolute;
  top: -7px;
  right: -7px;
}

.react-flow__sidebar {
  overflow-y: scroll;
  background-color: #FEDCBA;
}

/* TYPO3 overrides */
.module-body {
  padding: 0;
}

.panel .caret {
  margin-right: 4px;
}

#domainModelEditor {
  height: calc(100vh - 45px); /* 45px = top header, 54px = doc header */
  overflow-y: scroll;
}

.footer {
  box-shadow: 0px -5px 11px 0px rgba(204, 204, 204, 0.7);
  border-top: 1px solid #CCC;
  height: 30px;
}

.footer ul {
  margin-bottom: 0;
}

.footer ul li {
  margin-right: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.footer ul li:last-child {
  margin-right: 0;
}

.modal-dialog {
  max-width: min(30vw, 50%, 550px);
}

.custom-model-node .custom-model-node__header {
  margin-bottom: 0 !important;
}

.panel-group {
  margin-bottom: 0 !important;
}

#domainModelEditor .footer li {
  list-style: none;
  margin-right: 10px;
}

.footer ul {
  margin: 0;
}
