#modeller {
    height: 100%;
    width: 100%;

    &-right {
        background-color: lightgray;
    }

    &-main {
        // background-color: lightcoral;
    }

    &-left {
        // background-color: lightpink;
    }
}
