#extension-builder-footer {
    padding: 10px 24px;
    background-color: #eee;
    border-top: 1px solid #c3c3c3;

    ul {
        li {
            display: inline-block;

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
