{namespace be=Tx_ExtbaseKickstarter_ViewHelpers}
<f:layout name="default" />

<f:section name="header">
</f:section>
<f:section name="iconButtons">
</f:section>
<f:section name="content">
	<p class="bodytext">Welcome to the <b>Extbase Kickstarter</b>! This page is intended to give you some overview about the workflow we suggest.</p>
	<h2>What is this kickstarter about?</h2>
	<ul>
		<li>This kickstarter helps you to build applications based on <b>Extbase</b> and <b>Fluid</b>.</li>
		<li>We also want to provide a learning tool for <b>Domain-Driven Design</b></li>
	</ul>
	<h2>Domain Modelling</h2>
	At first, you will start creating your <b>Domain Model</b> with a graphical editor. This editor will do the following for you:
	<ul>
		<li><b>Extension Skeleton</b>: will create the extension directory structure needed</li>
		<li><b>Domain Model</b>: Will create basic classes for the Domain Model, residing under Domain/Model/</li>
		<li><b>Database Tables and TCA</b>: Will create Database Tables and TCA definitions which fit to the domain model.</li>
		<li><b>Skeleton Locallang Files</b>: Will create skeleton locallang files</li>
		<li><b>NEW - Plugin Configuration</b>: Will create a plugin configuration, so it will work out-of-the-box.</li>
		<li><b>NEW - Scaffolding</b>: Automatically all CRUD (Create, Read, Update, Delete) actions available for all Aggregate Roots!</li>
	</ul>

	<p><b><f:link.action action="domainmodelling" style="text-decoration:underline;">Go to the Domain Modeller</f:link.action></b></p>

	<h2>Iterative model refinement</h2>
	The first version of the model will usually not be the one you'll use lateron. That's why you should take your time, and improve your model.<br />
	Useful things to know:
	<ul>
		<li><b>Automatic Scaffolding</b>: The Scaffolding will automatically adjust the templates needed to render CRUD-functionality for your domain models.
			That is, if you modify your domain model by adding or removing fields, the Scaffolding will still work as expected.
	</ul>

	<h2>Improving Views and Controllers</h2>
	After the model has been improved iteratively, at one point, your focus of attention usually shifts to the Controller and View part of your extension.<br />
	At this point, you'll want to <b>disable Scaffolding</b> and refine the controllers and templates.
	<p><b>Coming soon - scaffold2file for controller and template</b></p>
</f:section>