<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
      xmlns:eb="http://typo3.org/ns/EBT/ExtensionBuilder/ViewHelpers">

<f:layout name="Default" />

<f:section name="Content">
	<div id="domainModelEditor">
		<div id="modeller">

		</div>
		<f:comment><!--
			<f:asset.script identifier="bootstrapMinJs" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" />
		--></f:comment>
		<footer id="extension-builder-footer" class="d-flex justify-content-center">
			<f:render partial="Moduler/Footer" arguments="{_all}"/>
		</footer>
	</div>
</f:section>
</html>
