<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
      xmlns:eb="http://typo3.org/ns/EBT/ExtensionBuilder/ViewHelpers">
<f:layout name="Default" />
<f:section name="header">
	<eb:be.configuration/>
</f:section>
<f:section name="iconButtons">
</f:section>

<f:section name="content">
	<script type="text/javascript">
		// InputEx needs a correct path to this image
		inputEx.spacerUrl = TYPO3.settings.extensionBuilder.baseUrl + 'Resources/Public/jsDomainModeling/wireit/lib/inputex/images/space.gif';

		YAHOO.util.Event.onDOMReady( function() {
			var editor = new WireIt.WiringEditor(extbaseModeling_wiringEditorLanguage);
		});
	</script>

	<div id="domainModelEditor" class="yui-skin-sam">
		<div id="left">
			<div id="propertiesForm"></div>
		</div>
		<div id="center">
			<div id="moduleBar"></div>
			<div id="modelingLayer"></div>
		</div>
		<div id="bottom"></div>
		<div id="helpPanel"></div>
	</div>
</f:section>
</html>